<section class="tasks"><div class="app">
    <div class="task-list">
        <div class="task-block">
            <span class="task-check">
            <span class="task-list-item">
                <h3>Appointments </h3>
            </span>
        </div>
        
         <div class="task-block">
            <span class="task-list-item">
                <h3> Groceries </h3>
            </span>
        </div>
        
        <div class="task-block">
            <span class="task-list-item">
                <h3> Shopping List </h3>
            </span>
        </div>
            
        <div class="task-block">
            <span class="task-list-item">
                <ul>
                    <li><h3> Work </h3></li>
                    <li><img src="/assets/images/arrow.png"></li>
                </ul>
            </span>
        </div>
        
    </div>